@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  h1 {
    color: #0174b1;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
  }
  img {
    width: 35rem;
    height: 12rem;
  }
}

.logo {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 3rem;
    margin-top: 1.5rem;
  }
  button {
    margin-top: 6rem;
    display: flex;
    width: 33.625rem;
    height: 7.875rem;
    padding: 0rem 0.87631rem;
    justify-content: center;
    align-items: center;
    gap: 0.43819rem;
    flex-shrink: 0;
    border-radius: 1.3145rem;
    border: 5px solid #0174b1;
    background: var(
      --linear,
      linear-gradient(180deg, rgba(64, 151, 197, 0.99) 0%, #0174b1 100%)
    );
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
  }
}
