.btn{
    margin-top: 5rem;
    display: flex;        
    text-decoration: none;
    text-align: center;
    width: 15.625rem;
    height: 3.4375rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #3993C3;
    color:white;
    font-size: 1.25rem;
    font-weight: 500;
}